*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

body {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
	height: 100%;
}

.map {
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
}

.map-application {
	height: 100%;
	padding-top: 50px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 10px;
	z-index: 9;
	border-bottom: 1px solid #eee;
	width:100%;
	background-color:#fff;
	border-bottom: 1px solid black;
	opacity: 0.95;
}

header .appName {
	float: left;
}

header .appSub {
	float: right;
	font-size: 0.7em;
}

.range {
  position:absolute;
  width:100%;
}

.leaflet-top .leaflet-control-zoom {
  top:60px;
}

.yearlabel {
	position: absolute;
	bottom:20px;
	font-size: 2.5em;
	font-weight: bold;
	opacity: 0.5;
}
